<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dash.css" />
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="dashboard-image">
    <h1>DASHBOARD</h1>
    <h3>All sounds of the earth are like music.</h3>
    <div class="user-hours">
      <h5>Hours</h5>
      <h2><%= uHrs.toFixed(2) %></h2>
    </div>
    <!-- <span class="fa fa-star <%= comps.length >= 1 || archs.length >= 1 || (comps.length + archs.length >=1) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 4 || archs.length >= 4 || (comps.length + archs.length >= 4) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 8 || archs.length >= 8 || (comps.length + archs.length >= 8) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 12 || archs.length >= 12 || (comps.length + archs.length >= 12) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 16 || archs.length >= 16 || (comps.length + archs.length >= 16) ? 'checked' : ''%>"></span> -->
  </div>
  <div class="jumbotron students-grid-container">
    <div class="grid-item animate__animated animate__backInLeft">
      <h3><i class="fas fa-clock"></i> ENTER HOURS</h3>
      <hr>
      <div class="container" id="clock"></div><br>
      <div class="container student-next-con-left">
        <form action="/askas/myHours" method="POST">
          <label for="date">Date</label>
          <input name="manDate" type="date" class="form-control" id="manDate" required placeholder="mm/dd/yyyy"><br>
          <label for="startTime">Start time (00:00 AM)</label>
          <input name="startTime" type="time" class="form-control" id="startTime" required
            placeholder="hh:mm AM/PM"><br>
          <label for="endTime">End time (00:00 PM)</label>
          <input name="endTime" type="time" class="form-control" id="endTime" required placeholder="hh:mm AM/PM"><br>
          <label for="taskDescription">Task Description</label>
          <textarea name="taskDescription" class="form-control" id="taskDescription" cols="15" rows="3"
            required></textarea><br>
          <label for="comments">Comments</label>
          <textarea name="comments" class="form-control" id="comments" cols="15" rows="5"></textarea><br>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn btn-success " type="submit">Submit</button>
        </form>

        <!-- Hidden form to be called to make calculation of weekly hours -->
        <!-- <form>
          <input type="hidden" value="<%= user._id %>" name="theUserId" id="theUser">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="thisToken">
          <button id="theUserBtn" style="visibility: hidden; display: none;" class="btn btn-success"
            type="button"><%= user.firstName.toUpperCase() %></button>
        </form> -->
      </div>
    </div>
    <div class="grid-item animate__animated animate__bounceInDown">
      <h3><i class="fas fa-history"></i> HOURS WORKED</h3>
      <hr>
      <!-- Form to be called to make calculation of weekly hours -->
      <div>
        <!-- <form action="/askas/calculateWeek" method="POST" class="submit-time"> -->
        <form class="submit-time">
          <input type="hidden" value="<%= user._id %>" name="theUserId" id="theUser">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="thisToken">
          <button id="theUserBtn" class="btn btn-danger" type="submit">Submit time</button>
          <!-- <button id="theUserBtn" class="btn btn-danger" type="button" onclick="checkWeek()">Submit time</button> -->
        </form>
      </div><br>
      <div class="container student-next-con-mid">
        <% if (hrs.length > 0) { %>
        <% hrs.forEach(h => { %>
        <div class="container hour-list-div" style="padding-bottom: 7px;">
          <form>
            <input type="hidden" value="<%= h.hourId._id %>" name="hourId" id="<%= h.hourId._id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="myToken">
            <li class="hour-list-time"><%= h.hourId.manualDate.toDateString() %></li>
            <li class="hour-list">Hours: <%= h.hourId.hours %></li>
            <li class="hour-list">Minutes: <%= h.hourId.minutes %></li>
            <button class="btn btn-success myBtn" type="button" onclick="getTimeId('<%= h.hourId._id %>')">Edit</button>
            <!-- <button class="btn btn-success myBtn" type="button" onclick="getTimeId(event)">Edit</button> -->
          </form>
        </div>
        <% }) %>

        <% } else { %>
        <h4>No hours recorded!</h4>
        <% } %>
      </div>
    </div>
    <div class="grid-item animate__animated animate__backInRight">
      <h3 class="week-col"><i class="fas fa-calendar"></i> WEEKS</h3>
      <hr>
      <div class="container student-next-con-right edit-time-con">
        <% if (weekHrs.length > 0) { %>
          <% weekHrs.forEach(whr => { %>
          <div class="container week-list-div" style="padding-bottom: 7px;">
            <span><b>Week ending <%= whr.weekHourId.weekEnd.toDateString() %></b><br>
              Week <%= whr.weekHourId.weekNumber %> of the year<br>
              Hours worked: <%= (whr.weekHourId.totalMinutes / 60).toFixed(2)%></span>
            <!-- <p>Week Number <%= whr.weekHourId.weekNumber %></p>
            <p>Hours worked <%= (whr.weekHourId.totalMinutes / 60).toFixed(3)%></p> -->
          </div>
          <% }) %>
  
          <% } else { %>
          <h4>No hours recorded!</h4>
          <% } %>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/scripts/front.js"></script>
  <%- include('../../includes/end.ejs') %>