<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dash.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script src="/scripts/front.js"></script>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="dashboard-image">
    <h1>DASHBOARD</h1>
    <h3>All sounds of the earth are like music.</h3>
    <div class="user-rank">
      <h2>Hours</h2>
      <!-- <span class="fa fa-star <%= comps.length >= 1 || archs.length >= 1 || (comps.length + archs.length >=1) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 4 || archs.length >= 4 || (comps.length + archs.length >= 4) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 8 || archs.length >= 8 || (comps.length + archs.length >= 8) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 12 || archs.length >= 12 || (comps.length + archs.length >= 12) ? 'checked' : ''%>"></span>
      <span class="fa fa-star <%= comps.length >= 16 || archs.length >= 16 || (comps.length + archs.length >= 16) ? 'checked' : ''%>"></span> -->
    </div>
  </div>
  <div class="jumbotron grid-container">
    <div class="grid-item">
      <h3>ENTER HOURS</h3>
      <hr>
      <div id="watch">Time</div><br>
      <form action="/askas/myHours" method="POST">
        <label for="activityName">Start time</label>
        <input name="startTime" type="time" class="form-control" id="startTime" required><br>
        <label for="activityName">End time</label>
        <input name="endTime" type="time" class="form-control" id="endTime" required><br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button id="btnn" class="btn-success sss" type="submit">Submit</button>
      </form>
    </div>
    <div class="grid-item">
      <h3>HOURS WORKED</h3>
      <hr>
      <% if (hrs.length > 0) { %>
      <% hrs.forEach(h => { %>
      <li><%= h.hourId.dateEntered %></li>
      <li><%= h.hourId.hours %></li>
      <li><%= h.hourId.minutes %></li>
      <% }) %>

      <% } else { %>
      <h4>No hours recorded!</h4>
      <% } %>
    </div>
    <div class="grid-item">Coming soon!</div>
  </div>
  <%- include('../../includes/end.ejs') %>