<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dash.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/scripts/adminDash.js"></script>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="admin-dash-image">
    <div class="all-student-hours">
      <h6 id="allStudentHoursLabel">Week Total <br><%= weekTotal.toFixed(2) %> Hrs</h6>
      <h6 id="allStudentHoursLabel">Year Total <br><%= (yearTotal + weekTotal).toFixed(2) %> Hrs</h6>
      <input type="hidden" id="yr-total" name="yr-total" value="<%= yearTotal + weekTotal %>">
    </div>

    <div class="admin-dash-image-div1 animate__animated animate__zoomIn">DASHBOARD</div>

    <div class="studentWeekHour">
      <h6 id="studentWeekHour"></h6>
    </div>
  </div>
  <!-- Reminder to submit time to create year document -->
  <div id="submit-year-reminder-container">
    <div id="submit-year-reminder"></div>
  </div>

  <div class="jumbotron grid-container">
    <div class="admin-grid-item animate__animated animate__backInLeft">
      <!-- <span id="user-in-focus"></span> -->
      <h3 id="user-in-focus"><i class="fas fa-users"></i></i> USERS</h3>
      <hr>
      <div class="container next-con-left">
        <% if (users.length > 0) { %>
        <% users.forEach((u, index, arr) => { let uni = index + u._id %>
        <div class="<%= u.status === 'archived' || u.name === user.name ? 'archived-user' : '' %>">
          <div class="user-time-info">
            <div>
              <i class="fas <%= u.role === 'admin' ? 'fa-user-cog' : 'fa-user-tie' %> fa-5x"></i>
            </div>
            <div>
              <h6 id="<%= uni %>"></h6>
            </div>
          </div>
          <span><%= u.name %></span>
          <div class="the-button">
            <form>
              <input type="hidden" value="<%= u._id %>" name="studentId" id="<%= u._id %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="my_OldToken">
              <button class="btn btn-success delete-user-button" type="button" onclick="deleteUser('<%= u._id %>')">
                <i class="fas fa-archive"></i></button>
              <!-- <button class="btn btn-success myBtn" type="button" onclick="getId(event)"><%= u.name %></button> -->
            </form>
            <form class="view-user-details <%= u._id === user._id ? 'hide' : ''%>">
              <input type="hidden" value="<%= u._id %>" name="studentId" id="<%= u._id %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="myToken">
              <button class="btn btn-success user-detail-button" type="button"
                onclick="getUserId('<%= u._id%>','<%= uni %>')">View</button>
              <!-- <button class="btn btn-success myBtn" type="button" onclick="getId(event)"><%= u.name %></button> -->
            </form>
            <form class="view-user-details <%= u._id === user._id ? 'hide' : ''%>">
              <input type="hidden" value="<%= u._id %>" name="studentId" id="<%= u._id %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="myToken2">
              <button class="btn btn-success user-detail-button" type="button"
                onclick="getWeeks('<%= u._id%>','<%= uni %>')">Weeks</button>
              <!-- <button class="btn btn-success myBtn" type="button" onclick="getId(event)"><%= u.name %></button> -->
            </form>
          </div>
          <hr style="width: 80%;">

        </div>
        <!-- <li id="student-list" class="student-list"><a href="/admin/users/<%= u._id %>" id="student"><%= u.name %></a></li>  -->
        <% }) %>
        <% } else { %>
        <h5>No student signed up yet!</h5>
        <% } %>
      </div>

    </div>
    <div class="admin-grid-item animate__animated animate__bounceInDown">
      <h3 id="week-in-focus"><i class="fas fa-user-clock"></i> USER HOURS</h3>
      <hr>
      <div class="container next-con-mid">
        <div id="student_details"></div>
      </div>

    </div>
    <div class="admin-grid-item animate__animated animate__backInRight">
      <h3 id="student-year-history"><i class="fas fa-calendar"></i> USER WEEKS</h3>
      <hr>
      <div class="container next-con-right">
        <div id="student_weeks"></div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->
  <%- include('../../includes/end.ejs') %>