<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dash.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/scripts/adminDash.js"></script>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="admin-dash-image">
    <h1 class="animate__animated animate__zoomIn">DASHBOARD</h1>
    <!-- <h3 class="animate__animated animate__zoomIn">All sounds of the earth are like music.</h3> -->
    <div class="all-student-hours">
      <h6 id="allStudentHoursLabel">Week Total</h6>
      <h5 id="studentTotalHour"><%= weekTotal.toFixed(2) %> Hrs</h5>
      <!-- <span id="studentWeekHour"></span> -->
    </div>

    <div class="studentWeekHour">
      <h6 id="studentWeekHourLabel">Student Total</h6>
      <h5 id="studentWeekHour"></h5>
    </div>
    <!-- <div class="total-year-hour">
      <h2>Hours</h2>
    </div> -->
  </div>
  <div class="jumbotron grid-container">
    <div class="grid-item animate__animated animate__backInLeft">
      <h3><i class="fas fa-users"></i></i> USERS</h3>
      <hr>
      <div class="container next-con-left">
        <% if (users.length > 0) { %>
        <% users.forEach(u => { %>
        <div >
          <span><i class="fas fa-user-circle"></i> <%= u.name %></span>
            <form class="view-user-details <%= u._id === user._id ? 'hide' : ''%>">
              <input type="hidden" value="<%= u._id %>" name="studentId" id="<%= u._id %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="myToken">
              <button class="btn btn-success user-detail-button" type="button" onclick="getId('<%= u._id %>')">View</button>
              <!-- <button class="btn btn-success myBtn" type="button" onclick="getId(event)"><%= u.name %></button> -->
            </form>
        </div><hr style="width: 80%;">
        <!-- <li id="student-list" class="student-list"><a href="/admin/users/<%= u._id %>" id="student"><%= u.name %></a></li>  -->
        <% }) %>

        <% } else { %>
        <h5>No student signed up yet!</h5>
        <% } %>
      </div>

    </div>
    <div class="grid-item animate__animated animate__bounceInDown">
      <h3><i class="fas fa-user-clock"></i> USER HOURS</h3>
      <hr>
      <div class="container next-con-mid">
        <div class="container" id="student_details"></div>
      </div>

    </div>
    <div class="grid-item animate__animated animate__backInRight">
      <h3><i class="fas fa-calendar"></i> USER WEEKS</h3>
      <hr>
      <div class="container next-con-right">
        <div id="student_weeks"></div>
      </div>
    </div>
  </div>
  <%- include('../../includes/end.ejs') %>